{% extends 'base.html' %}

{% block body %}
    <h1>Trainee news</h1>
    <table class="table table-bordered">
      <thead class="thead-light">
      <tr>
        <th scope="col"> No.</th>
        <th scope="col">name</th>
          <th scope="col">Day</th>
        <th scope="col">zone</th>
        <th scope="col">成長ゾーン</th>
        <th scope="col">Dailyアンケートコメント判定</th>
          <th scope="col">Dailyアンケートコメント引用</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for i in result %}
      <tr>
          <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
          <td>{{ i[3] }}</td>
          <td>{{ i[4] }}</td>
          <td>{{ i[5] }}</td>
          <td>{{ i[6] }}</td>
      <td><a href="/fb"><button type="button" class="btn btn-success"  class="mx-auto">正誤入力</button></a></td>
      </tr>
      </tbody>
      {% endfor %}
    </table>
    <a href="/">閉じる</a>
{% endblock %}