<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Trainee news</title>
</head>
<body>
    <h1>Trainee news</h1>
    <table class="table table-bordered">
      <thead class="thead-light">
      <tr>
        <th scope="col"> No.</th>
        <th scope="col">name</th>
        <th scope="col">zone</th>
        <th scope="col">講師レコメンド</th>
        <th scope="col">受講者コメント引用</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>AA</td>
        <td>3</td>
        <td>コンフォートゾーンです</td>
        <td></td>
        <td><a href="/fb"><button type="button" class="btn btn-success"  class="mx-auto">正誤入力</button></a></td>
      </tr>
      </tbody>
    </table>
    <h2>
        <p>
            {{ result }}
        </p>
    </h2>
    <a href="/">閉じる</a>
</body>
</html>